extend ../base.pug

block heading-right
	div(class="pull-right")
		form(action="/users/logout" method="POST" class="navbar-form navbar-right")
			label(class="label-greeting") Welcome back, #{currentUser.username}
			button(type="submit" class="btn btn-default") log out
block content
	div(class="container")
		div(class="row")
			div(class="col-xs-6 col-xs-offset-3")
				h1 User index
				a(href=`/users/${currentUser._id}`) See user details